<h1>You got a new reservation.</h1>
<HR>
Name: %first_name% %last_name%<BR>
Phone: %phone%<BR>
E-mail: %email%<BR>
Passenger: %npassenger% / Luggage: %nluggage%<BR>
Vehicle: %vehicletype%<BR>
Service: %servicetype%<BR>
<BR><BR><h2>Pick-up Information</h2>
<HR>
Address: %p_address% (Apt: #%p_apt%)<BR>
City: %p_city% / %p_state% [Zip Code: %p_zip%]<BR>
When: %p_date_m%/%p_date_d%/%p_date_y% at %p_time_h%:%p_time_m%<BR>
Special Instructions:<BR>
%p_instructions%<BR>
<BR><h2>Drop Off Information</h2>
<HR>
Address: %d_address% (Apt: #%d_apt%)<BR>
City: %d_city% / %d_state% [Zip Code: %d_zip%]<BR>