<h1>Your reservation</h1>
Thanks for your reservation with us. Follow below more info about your future trip:
<HR><h2>Your Information</h2>
Name: %first_name% %last_name%<BR>
Phone: %phone%<BR>
E-mail: %email%<BR>
Passenger: %npassenger% / Luggage: %nluggage%<BR>
Vehicle: %vehicletype%<BR>
Service: %servicetype%<BR>
<BR><h2>Price Information</h2>
Trip value: %trip%<BR>
Gratuity: %gratuity%<BR>
Total: %final_price%<BR>
<HR><BR><h2>Pick-up Information</h2>
Address: %p_address% (Apt: #%p_apt%)<BR>
City: %p_city% / %p_state% [Zip Code: %p_zip%]<BR>
When: %p_date% at %p_time_h%:%p_time_m%<BR>
Special Instructions:<BR>
%p_instructions%<BR>
<BR><h2>Drop Off Information</h2>
Address: %d_address% (Apt: #%d_apt%)<BR>
City: %d_city% / %d_state% [Zip Code: %d_zip%]<BR>
<BR>