/**********************************************
 *
 * Custom Style Sheet
 * (Insert your style changes here!)
 *
 **********************************************/
 
.div-passenger, .div-luggage {width: 30%;}
.div-price, .div-book-now {width: 90%;}
.carBoxW {margin-bottom: 0px;padding-left: 0px;padding-right: 0px;}
.div-distance {width: 90%;float: left;}
.div-time {width: 90%; float: right;}
.div-distance input, .div-time input  {margin-bottom:0px; width: 100%;}
.div-body-type {padding-right:15px;}
.div-start-address input, .div-end-address input {margin-bottom:0px;}
#gratuityOther_input {display: initial;}
#bigpromoter_map img {width: auto; max-width: none;}
.p2p-final-price {text-align: center;font-size: 20px;margin-bottom: 10px;float: left;}
select {-webkit-appearance: menulist!important;}
.ui-datepicker-calendar tr td a {color: #222!important;}
